/* transfer.css */

.transfer-container {
    background-image: url('tf2.png'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensure the background covers the entire viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background for form */
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
    width: 80%; /* Adjust the width of the form container as needed */
    margin-left: 380px;
    background: none;
  }
  .transfer-container h1 {
     font-size: '20px';
    font-Family: 'Roboto';
    font-weight: '700';
    font-style: 'normal';  /* Adjust the font size as needed */
    font-family: 'Arial', sans-serif; /* Change the font family as needed */
    /* Add any additional styles you want */
  }
  
 