/* HomePage.css */

/* HomePage.css */

.home-container {
  height: 99vh; /* Set the height to 50% of the viewport height */
  background-image: url('card4.png'); /* Replace with the path to your background image */
  background-size: cover; /* Cover the container with the background image */
  background-position: center; /* Center the background image */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Set text color to white or your preferred color */
}

.content {
  text-align: center;
}
/* .rounded-button {
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}


.rounded-button.login {
  background-color: #3498db;
  color: #fff;
} */

/* .rounded-button.signup {
  background-color: #2ecc71;
  color: #fff;
}
.rounded-button:hover {
  border: 2px solid #f5dddd; 
  background-color: rgb(244, 183, 103);
}



.button-container {
  display: flex;
  justify-content: flex-start;
  margin-right: 990px;
  margin-top: 480px;

} */

.button-container {
  display: flex;
  justify-content: center;
  margin-top: -64px; /* Adjust as needed */
}

.rounded-button {
  display: inline-block;
  padding: 15px 30px; /* Increase padding to increase button size */
  border: 2px solid rgb(4, 106, 146);
  border-radius: 25px;
  color: rgb(4, 106, 146);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Add margin to create spacing */
}

.rounded-button:hover {
  background-color: rgb(4, 107, 175);
  color: white;
}
