.container {
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  background-color: rgb(105, 118, 219);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* styles.css */

.myCard {
  font-family: 'YourChosenFont';
  font-size: 50px !important;
}

.cardTitle {

font-size: 34px;

}

.card {
  width: calc(33.333% - 20px); 
  margin-bottom: 20px;
  background-color: rgb(105, 118, 219);
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
