/* Dashboard.css */

.dashboard-container {
  display: flex;
  /* background-image: conic-gradient( turquoise,paleturquoise,mediumaquamarine); */
  /* color : (81, 210, 175)  ,rgb(207, 245, 235)   rgb(124, 255, 197 )  */
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}

.cards-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  /* background-color:azure; */
}

.grey-container {
  background-color: rgba(0, 0, 255, 0.5); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 450px;
  width: 400px;
}

.card-icon {
  color: #d34b4b; 
}

.dashboard-image {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  /* justify-content: space-around; */
  background-color: black;
}
